apiVersion: v2
name: audiobookshelf
description: Self-hosted audiobook and podcast server
type: application
version: 0.5.0
appVersion: "2.32.1" # renovate: datasource=docker depName=ghcr.io/advplyr/audiobookshelf
dependencies:
  - alias: audiobookshelf
    name: corvid-app
    version: 0.11.0
    repository: "oci://registry.gitlab.com/georgeraven/raven-helm-charts"
    condition: audiobookshelf.enabled
