apiVersion: v2
appVersion: 0.1.0
description: A Helm chart for Kubernetes
name: jellymeta
type: application
version: 0.6.0
dependencies:
- name: jellyfin
  condition: jellyfin.enabled
  version: "0.9.0"
  repository: "https://gitlab.com/api/v4/projects/55284972/packages/helm/stable"
- name: metube
  condition: metube.enabled
  version: "0.4.0"
  repository: "https://gitlab.com/api/v4/projects/55284972/packages/helm/stable"
- name: filebrowser
  condition: filebrowser.enabled
  version: "0.3.2"
  repository: "https://gitlab.com/api/v4/projects/55284972/packages/helm/stable"
