# This values.yaml does NOT contain the full defaults.
# This merely contains overrides for the corvid-app chart which is used to template each individual component.
# MANY MANY OTHER OPTIONS ARE AVAILABLE BEYOND THE ONES SHOWN HERE, THESE ARE ONLY THE MINIMUM EXAMPLE OVERRIDES
#
# To see all available options for each section (each section is derived from the same options)
# please see https://gitlab.com/GeorgeRaven/raven-helm-charts/-/blob/main/charts/corvid-app/values.yaml?ref_type=heads

# please bring your own secret, this is here only as an example
# this exampleSecret is the only bespoke template of this chart
exampleSecret:
  enabled: true
  name: hoppscotch

frontend:
  enabled: false
  image:
    registry: docker.io
    repository: hoppscotch/hoppscotch
    tag: "2025.7.1"

admin:
  enabled: false
  image:
    registry: docker.io
    repository: hoppscotch/hoppscotch
    tag: "2025.7.1"

backend:
  enabled: true
  image:
    registry: docker.io
    repository: hoppscotch/hoppscotch
    tag: "2025.7.1"

# DB Migration hook definition
migrate:
  enabled: true
  image:
    registry: docker.io
    repository: hoppscotch/hoppscotch
    tag: "2025.7.1"
  command:
  - /bin/sh
  - -c
  - |
    export DATABASE_URL=${DATABASE_URL:-"postgres://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}"}
    echo "Attempting to migrate database... '${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}' as '${DATABASE_USER}'"
    pnpx prisma migrate deploy
  env:
  - name: DATABASE_USER
    valueFrom:
      secretKeyRef:
        name: hoppscotch
        key: POSTGRES_USER
  - name: DATABASE_PASSWORD
    valueFrom:
      secretKeyRef:
        name: hoppscotch
        key: POSTGRES_PASSWORD
  - name: DATABASE_HOST
    valueFrom:
      secretKeyRef:
        name: hoppscotch
        key: POSTGRES_HOST
  - name: DATABASE_PORT
    valueFrom:
      secretKeyRef:
        name: hoppscotch
        key: POSTGRES_PORT
  - name: DATABASE_NAME
    valueFrom:
      secretKeyRef:
        name: hoppscotch
        key: POSTGRES_DB
  job:
    enabled: true
    annotations:
      helm.sh/hook: post-install,post-upgrade
      helm.sh/hook-weight: "-1"
      helm.sh/hook-delete-policy: before-hook-creation
  netpol:
    enabled: true
  volumes:
  - name: scratch
    emptyDir: {}
  volumeMounts:
  - name: scratch
    mountPath: /.cache
    subPath: cache
  - name: scratch
    mountPath: /.local
    subPath: local
  - name: scratch
    mountPath: /tmp
    subPath: tmp
  resourcesDefault:
    requests:
      cpu: 100m
    limits:
      memory: 1Gi

# Ideally this should be disabled in favor of
# your own postgres instance like CNPG
postgres:
  enabled: true
  postgres:
    fullnameOverride: postgres
  env:
  - name: PGDATA
    value: "/var/lib/postgresql/data/pgdata"
  - name: PGPORT
    valueFrom:
      secretKeyRef:
        name: hoppscotch
        key: POSTGRES_PORT
  - name: POSTGRES_DB
    valueFrom:
      secretKeyRef:
        name: hoppscotch
        key: POSTGRES_DB
  - name: POSTGRES_USER
    valueFrom:
      secretKeyRef:
        name: hoppscotch
        key: POSTGRES_USER
  - name: POSTGRES_PASSWORD
    valueFrom:
      secretKeyRef:
        name: hoppscotch
        key: POSTGRES_PASSWORD
  - name: POSTGRES_HOST_AUTH_METHOD
    value: "scram-sha-256"
  - name: POSTGRES_INITDB_ARGS
    value: "--auth-host=scram-sha-256"
